* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightblue;
  font-family: cursive;
}

input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 3px;
}

button {
  width: 30%;
  padding: 5px;
  margin-top: 10px;
  font-size: 17px;
  margin-left: 3px;
  border: none;
  background-color: black;
  color: yellow;
}

ul {
  list-style: none;
}

.btn {
  width: 25%;
  padding: 5px;
  margin-top: 10px;
  font-size: 17px;
  margin-left: 3px;
  border: none;
  background-color: #ff0000;
  color: white;
  float: right;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
